
/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 @media (max-width:1280px) {
	.container {
		padding-left:0%;
		padding-right:0%;
	}
	
	.fixedInfo {
		width: 200px;
	    margin-top: 60px;
	}
	
	.mapView {
		float:right;
		width:450px;
		height:280px;
		margin-left:20%;
	}
}
 
 


@media (max-width:825px){
	.container {
		padding-left:0%;
		padding-right:0%;
	}
	
	.bi {
		margin-left:-30px;
	}
	
	.subscript1, .subscript2, .subscript3 {
		margin-left:2%;
		padding-left:0%;
		padding-right:0%;
	}	
	.subscript1 {
		top:150px;
	}
	
	.clear {
		bottom:250px;
		float:left;
	}
	
	.subscript3 {
		font-size: 14px;
	}
	
	
	.contentImg3 {
		height: 480px;
	}
	
	.mapView {
		float:left;
		width: 340px;
		height: 230px;
		margin-left:20%;
	}
	
	.fixedInfo {
		width: 350px;
	    margin-top: 50px;
	}
}

 
 
 */
 
 


@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 17px;
    }
    
    .infoSubscript {
    	font-size: 15px;
    	line-height:24px;
    	letter-spacing: -1px;
    }
    
    .subscriptAlignLeft {
    	display: inline-block;
    	float:left;
    }
    
    .clear {
    	float:clear;
    }
    
    
    /* We want to give the content area some more padding */
    .content {
        padding: 1em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 100%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 250%;
    }
}